browser=chrome
url=https://qa.loyalfriendcare.com/en
aboutUsUrl=
departmentsUrl=
bedManagersUrl=
actualBedManagersUrl=
timeout=
environment=
tester_name=
admin_email=
admin_password=
user_email=
user_password=
implicitWait=
pageLoadTimeout=