browser=chrome
url=https://qa.loyalfriendcare.com/en
aboutUsUrl=https://qa.loyalfriendcare.com/en/about
departmentsUrl=https://qa.loyalfriendcare.com/en/Departments
bedManagersUrl=https://qa.loyalfriendcare.com/en/Dashboard/BedManagers
actualBedManagersUrl=https://qa.loyalfriendcare.com/en/Dashboard/Posts
timeout=3
environment=QA
tester_name=Samet
admin_email=samet.ture.admin@loyalfriendcare.com
admin_password=Loyal.123123
user_email=samet.ture.user@loyalfriendcare.com
user_password=Loyal.123123
implicitWait=2
pageLoadTimeout=2